.container {
  vertical-align: auto;
  max-width: 900px;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
}

.mySection {
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  }